<mat-card>
    <mat-card-title>
      <h5>Profile</h5>
    </mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>Name: {{profile?.name}} </mat-list-item>
            <mat-list-item>Email: {{profile?.email}} </mat-list-item>
            <mat-list-item>Description: {{profile?.description}} </mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
        <mat-card-title>
          <h6>Posts</h6>
        </mat-card-title>
        <mat-card-content>
          <messages></messages>
        </mat-card-content>
      </mat-card>