<mat-card>
    <mat-card-title>
      <h5>Register New User</h5>
    </mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="email" type="email"
            [(ngModel)]="registerData.email" name="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="password" type="password"
            [(ngModel)]="registerData.pass" name="password" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="name"
              [(ngModel)]="registerData.name" name="name" >
        </mat-form-field>
        <br>
        <mat-form-field style="width: 100%">
            <textarea matInput placeholder="description"
              [(ngModel)]="registerData.description" name="description" ></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="post()">Register</button>
      </form>
    </mat-card-content>
  </mat-card>