<mat-toolbar>
  <button mat-raised-button color="default" 
    routerLink="/">The Wall OK</button>
  <button mat-raised-button color="basic" 
    *ngIf="apiService.isAuthenticated"
    routerLink="/users">Users</button>
  <button mat-raised-button color="primary" 
    *ngIf="apiService.isAuthenticated"
    routerLink="/post">Message</button>
  <span style="flex: 1 1 auto"></span>

  <button mat-raised-button color="warn" 
    *ngIf="!apiService.isAuthenticated"
    routerLink="/register">Register</button>
  <button mat-raised-button color="primary" 
    *ngIf="!apiService.isAuthenticated"
    routerLink="/login">Login</button>
  <button mat-raised-button color="warn" 
    *ngIf="apiService.isAuthenticated" 
    (click)="apiService.logout()">Logout</button>
</mat-toolbar>

<home></home>

<router-outlet></router-outlet>